body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/* fundo */
body::before {
  filter: blur(2px);
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../images/gorilaPoseArnold.png");
  background-size: cover;
  /* cobre toda a área, mantendo a proporção */
  /* background-repeat: no-repeat; */
  background-position: center top;

  opacity: 0.70;
  /* controla transparência */

  z-index: -1;
}

.exercicios {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 20px;
  padding: 60px;
  height: 70px;
  resize: vertical;
}


.app {
 opacity: 1;
 transition: opacity 0.5s;
}


input,
textarea {
  width: 40%;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


#dias-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}


button {
  background-color: oklab(87.5% -0.0082 0.17837 / 0.685);
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #a7a8aa;
  transform: translateY(-2px);
}


.dia {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}


#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  transition: opacity 0.5s ease;

}


#splash-screen img {
  width: 140px;
  margin-bottom: 20px;
 
}


#splash-screen h1 {
  font-size: 28px;
  color: #fff;
}


button.Excluir{
  background: #e74c3c;
  color:#fff
}

.lista-exercicios{
display:flex;
flex-direction:column;
gap:10px;
margin-top:10px;
}

.exercicio-item{
display:flex;
align-items:center;
gap:10px;
background:white;
padding:8px;
border-radius:6px;
}

.nome-exercicio{
flex:1;
font-weight:bold;
}

.series,
.reps{
width:60px;
}


@media print {

.formulario {
    display: none;
  }


  body {
    background: white;
  }
  

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}



.card {
    background-color: transparent;
    box-shadow: none;
    border:  1px solid #000;
  }



}